.flyoutMenu {
	background-color: #F1F1F1;
	border-color: #999999;
	border-width: 0 1px 1px 0;
	border-style: solid;
	behavior: url(/web/20010619062844im_/http://microsoft.com/library/flyoutmenu/default.htc);
}
.flyoutHeading {
	font-family: Verdana, Arial, Helvetica;
	font-size: 70%;
	background-color: #F1F1F1;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	cursor: default;
}
.flyoutLink  {
	border-color: #F1F1F1;
	border-width: 1px;
	border-style: solid;
	font-family: Verdana, Arial, Helvetica;
	font-size: 70%;
	padding-left: 6px;
	padding-right: 25px;
	padding-top: 1px;
	cursor: hand;
}
.flyoutMenu TD.flyoutLink  {
	border-color: #F1F1F1;
	border-width: 1px;
	border-style: solid;
	font-family: Verdana, Arial, Helvetica;
	font-size: 70%;
	padding: 1px 25px 3px 6px;
	cursor: hand;
}
.flyoutLink a {
	color: black;
	text-decoration: none;
}
.flyoutLink a:hover {
	color: black;
	text-decoration: none;
}
.flyoutLink a:visited {
	color: black;
	text-decoration: none;
}
.flyoutLink a:active {
	color: black;
	text-decoration: none;
}
.flyoutSubHeading {
	font-family: Verdana, Arial, Helvetica;
	font-size: 70%;
	background-color: #F1F1F1;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-left: 7px;
	cursor: default;
}
.flyoutSubLink {
	border-color: #F1F1F1;
	border-width: 1px;
	border-style: solid;
	font-family: Verdana, Arial, Helvetica;
	font-size: 70%;
	padding: 1px 15px 3px 11px;
	cursor: hand;
}
.flyoutSubLink a {
	color: black;
	text-decoration: none;
}
.flyoutSubLink a:hover {
	color: black;
	text-decoration: none;
}
.flyoutSubLink a:visited {
	color: black;
	text-decoration: none;
}
.flyoutSubLink a:active {
	color: black;
	text-decoration: none;
}

/*
     FILE ARCHIVED ON 06:28:44 Jun 19, 2001 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:21:17 Jul 11, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.435
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.013
  esindex: 0.008
  cdx.remote: 28.454
  LoadShardBlock: 160.236 (3)
  PetaboxLoader3.datanode: 109.08 (4)
  load_resource: 156.757
  PetaboxLoader3.resolve: 93.345
*/